# Covers JetBrains IDEs

# User-specific stuff
.idea/*

#Gradle and Maven with auto-import
*.iml
*.ipr

# IntelliJ
out/

# dependencies
4FlowDashboards/node_modules
4FlowDashboards/.pnp
.pnp.js

# testing
4FlowDashboards/coverage

# production
4FlowDashboards/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
