.login-form-wrapper {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  margin-top: 70px;
  font-size: 14px;
}

.login-form-wrapper button {
  width: 100%;
}

.form-control, .form-check-label {
  font-size: 14px;
}

.formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 15px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

.formFooter a {
  color: #007bff;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}
